html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    color: #fff;
    background: #232323;
    font-size: 1.3rem;
}

.header span {
    display: block;
    background: steelblue;
}

.header span:nth-child(2) {
    font-size: 3rem;
}

.color-box {
display: flex;
justify-content: center;
margin-top: 10rem;

}

.color-code {
    font-size: 1rem;
}

.color {
    display: flex;
    flex-direction: row;
}

.box {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 50%;
    margin: 10px;
}

.modal {
    display: none;
    position: fixed;
    font-size: 3rem;
}

.score {
    margin-top: 1rem;
    font-size: 1rem;
    display: block;
}

.show {
  display: block;
}

.box.large {
  transform: scale(50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
    background: transparent;
    border: solid #fff;
    color: #fff;
    font-size: 1.5rem;
}